body {
    font-family: Arial, sans-serif;
    background: linear-gradient(115deg,rgb(247, 246, 247),rgb(243, 72, 243));
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #fedaff;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

    border-radius: 20px;
}
.cos{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #fa0dd6;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 12px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #ff00ee;
    outline: none;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #f40ae8;
    color: rgb(249, 246, 246);
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
}

.submit:hover {
    background-color: #03306e;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}